mixin modal(title)
  - var cancel = attributes.cancel
  - var ok = attributes.ok
  .modal__back(id!=attributes.id)
    form.modal__box(onsubmit="event.preventDefault(); validateForm(event)")
      .modal__title
        h3= title
        i.modal__close X
      .modal__body
        block
      .modal__actions
        if cancel
          button.modal__cancel Cancel
        if ok
          input(type="submit" value="OK").modal__ok


mixin input(label, name)
  - var randomID = "input-"+Math.round(Math.random()*10000000)
  - var req = attributes.required
  .input
    label(for=randomID)= label + (req? "* :" : ":")
    input(id=randomID name=name)&attributes(attributes)

mixin textarea(label, name)
  - var randomID = "input-"+Math.round(Math.random()*10000000) 
  - var req = attributes.required
  .textarea
    label(for=randomID)= label + (req? "* :" : ":")
    textarea(id=randomID name=name rows=3)&attributes(attributes)

mixin select(label, name)
  - var randomID = "input-"+Math.round(Math.random()*10000000) 
  - var req = attributes.required
  .textarea
    label(for=randomID)= label + (req? "* :" : ":")
    select(id=randomID name=name)&attributes(attributes)
      option()
      block

mixin option(value, label)
  option(value=value)&attributes(attributes)= label? label : value