extends layout

block customstyle
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block content

  .header
    .header__image
      img(src="images/logo.png")
    .header__name Dashboard
    .header__actions
      .actions__title= username
  .dashboard
    //- block dashboard
    each section in sections
      section.section
        if section.title
          h2.section__title= section.title
        if section.subtitle
          h4.section__subtitle= section.subtitle
        if section.explanation
          p.section__explanation= section.explanation
        div.section__panels
          each panel in section.panels
            if panel.type === "external"
              div.panel.panel__external(class= {[`colspan-${panel.colspan}`]: panel.colspan, [`rowspan-${panel.rowspan}`]: panel.rowspan})
                if panel.title
                  div.panel__title= panel.title
                iframe(src=panel.src frameborder="0")
            else if panel.type === "chart"
              div.panel.panel__chart(class= {[`colspan-${panel.colspan}`]: panel.colspan, [`rowspan-${panel.rowspan}`]: panel.rowspan})
                if panel.title
                  div.panel__title= panel.title
                canvas
            else if panel.type === "number"
              //- div.panel.panel__number(class= panel.colspan? `colspan-${panel.colspan}` : "")
              div.panel.panel__number(class= {[`colspan-${panel.colspan}`]: panel.colspan, [`rowspan-${panel.rowspan}`]: panel.rowspan})
                if panel.title
                    div.panel__title= panel.title
                div.number__container
                  div.data__text--top= panel.text_top
                  div.data__number(data-number=panel.value)= panel.value
                  div.data__text--bottom= panel.text_bottom
            else if panel.type === "text"
              div.panel.panel__text(class= {[`colspan-${panel.colspan}`]: panel.colspan, [`rowspan-${panel.rowspan}`]: panel.rowspan})
                if panel.title
                  div.panel__title= panel.title
                div.data__text= panel.text
            else 
              div.panel.panel__space(class= {[`colspan-${panel.colspan}`]: panel.colspan, [`rowspan-${panel.rowspan}`]: panel.rowspan})
              


  script(src="javascripts/dashboard.js")