/* COLOR CODES */
/* FONT COLOR */
/* BACKGROUND COLOR */
.panel {
  border-radius: 5px;
  box-shadow: 6px 6px 6px #92c5c9;
  padding: 1rem;
  background-color: #fafeff;
}

.dashboard {
  max-width: 1600px;
  /* background-color: green; */
  margin: 0px auto;
}

section {
  padding: 20px 20px 40px;
  background-image: linear-gradient(#b4d7da 50%, #99c8cd);
}

.section__title {
  color: #031c25;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.section__subtitle {
  padding-left: 1em;
}

.section__panels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: space-around;
}

.panel__external iframe {
  height: 200px;
  width: 100%;
}

.panel__number {
  display: flex;
  flex-direction: column;
}
.panel__number .number__container {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel__number .number__container .data__text--top {
  flex: 1 1 40%;
}
.panel__number .number__container .data__number {
  font-size: 3rem;
  font-weight: bold;
  color: #006461;
  flex: 1;
}
.panel__number .number__container .data__text--bottom {
  flex: 1 1 60%;
}

.panel__text {
  display: flex;
  flex-direction: column;
}
.panel__text .data__text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel__space {
  border: 1px solid transparent;
}

.panel__title {
  font-size: 1rem;
  padding-bottom: 0.5em;
  color: #0b284e;
  font-weight: bold;
}