/* COLOR CODES */
/* FONT COLOR */
/* BACKGROUND COLOR */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

button, input[type=submit] {
  background: none;
  color: #fafeff;
  border: none;
  padding: 0.4em 1em;
  min-width: 80px;
  margin: 2px;
  font: inherit;
  cursor: pointer;
  outline: transparent solid 2px;
  outline-offset: 2px;
  background-color: #006461;
}
button:focus, button:hover, input[type=submit]:focus, input[type=submit]:hover {
  outline: #006461 solid 1px;
}

/*
  COLORS
*/
.color-light {
  color: #b4d7da;
}

.color-mid {
  color: #00c1b9;
}

.color-dark-blue {
  color: #008593;
}

.color-dark-green {
  color: #006461;
}

.color-darkest {
  color: #003549;
}

.bgcolor-light {
  background-color: #b4d7da;
}

.bgcolor-mid {
  background-color: #00c1b9;
}

.bgcolor-dark-blue {
  background-color: #008593;
}

.bgcolor-dark-green {
  background-color: #006461;
}

.bgcolor-darkest {
  background-color: #003549;
}

/*
  GRID
*/
.colspan-2 {
  grid-column: auto/span 2;
}

.colspan-3 {
  grid-column: auto/span 3;
}

.colspan-4 {
  grid-column: auto/span 4;
}

.rowspan-2 {
  grid-row: auto/span 2;
}

.rowspan-3 {
  grid-row: auto/span 3;
}

.rowspan-4 {
  grid-row: auto/span 4;
}

/*
  HEADER
*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #d1d0d0;
  /* background-color: #cde7e9; */
  color: #0b284e;
}

.header__image {
  width: 200px;
}
.header__image img {
  max-height: 50px;
}

.header__name {
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  padding-top: 5px;
}

.header__actions {
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  text-align: right;
  position: relative;
  cursor: pointer;
}
.header__actions .actions__title {
  font-size: 1.1em;
  color: #0b284e;
}
.header__actions .actions__title i {
  font-style: normal;
  font-size: 0.6em;
  padding-left: 1em;
  padding-bottom: 5px;
}
.header__actions .actions__dropdown {
  display: none;
  position: absolute;
  top: 58px;
  width: 100%;
  background-color: #fafeff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header__actions:hover .actions__dropdown {
  display: block;
}
.header__actions .header__action {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid lightgray;
}
.header__actions .header__action:hover {
  background-color: lightgray;
}

/* MODAL */
.modal__back {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 53, 73, 0.8);
}
.modal__back.active {
  display: flex;
}

.modal__box {
  min-width: 450px;
  border: 1px solid #006461;
  border-radius: 5px;
  background-color: white;
}

.modal__title {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}
.modal__title h3 {
  padding: 0;
  margin: 0;
  flex: 1;
}
.modal__title i {
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
}
.modal__title i:hover {
  font-weight: bold;
}

.modal__body {
  padding: 20px;
}

.modal__actions {
  padding: 10px 15px;
  text-align: right;
}

.modal__split {
  display: flex;
  flex-direction: row;
}
.modal__split > div {
  margin-right: 10px;
}
.modal__split > div:last-child {
  margin-right: 0;
}

/* INPUTS */
.input, .textarea {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  flex: 1;
}
.input.disabled, .textarea.disabled {
  display: none;
}

.input input, .textarea textarea {
  border: 1px solid #008593;
  resize: none;
}
.input input:disabled, .textarea textarea:disabled {
  background-color: black;
}

/* TEMPLATES */
#templates {
  display: none;
}